.nav-tabs > .active > a,
.nav-tabs > .active > a:focus {
  outline: none;
}

.navbar {
  margin-bottom: 0;
}

#main-container {
  margin-top: 2em;
}

#main-jumbotron {
  background: url("../img/zehntel-desk.jpg") no-repeat bottom center;
  min-height: 80vh;
  min-height: calc(100vh - 60px - 200px);
  background-size: cover;
}

#ctaMain {
  font-size: 1.6em;
}

#ctaButton {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.connectionOffline {
  color: #d9534f;
}

.green-tooltip + .tooltip > .tooltip-inner {
  background-color: #93c54d;
}

.green-tooltip + .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #93c54b;
}

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #d9534f;
}

.red-tooltip + .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #d9534f;
}

.tooltip {
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
}

.form-group-together {
  margin-bottom: 0;
}

#loginForm .col-sm-2.control-label {
  padding-right: 0;
}

#loginForm .col-sm-2.control-label.multiline {
  padding-top: 5px;
}

#loginForm input[name="loginSignupOption"] {
  margin-top: 0;
}

#masterkeyModal .modal-body {
  max-height: calc(100vh - 212px);
  overflow-y: auto;
}

#masterkeyModalCheckbox {
  margin-top: 0;
}

#masterkeyModalKey {
  font-size: 140%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#dialogModal .modal-dialog {
  padding: 20px;
}

@media (min-width: 768px) {
  .tab-pane.panel {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.badge-wrapper {
  height: 15px;
}

.negative-sum.badge {
  background-color: #d9534f;
}

h1 > .negative-sum {
  color: #d9534f;
}

#income-new-form {
  background-color: #f8f5f0;
  border: 1px solid #dfd7ca;
  border-radius: 4px;
  padding: 15px 15px 0 15px;
}

#income-new-form .income-new-form-label {
  margin-bottom: 15px;
}

#income-new-form button {
  margin-bottom: 15px;
}

.income-hand {
  padding-left: 5px;
}

#income-dist-form h1 {
  font-size: 140%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.tab-pane h1 {
  font-size: 180%;
}

.tab-pane tbody .form-group,
.tab-pane tbody .input-group,
.tab-pane tbody input[type="text"] {
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #999 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999 !important;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999 !important;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999 !important;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #999 !important;
}

.transactions-table {
  word-wrap: break-word;
  table-layout: fixed;
}

@media (max-width: 549px) {
  .transactions-table .th-date {
    width: 7em;
  }

  .transactions-table .th-subject {
    width: 6em;
  }

  .transactions-table .th-amount {
    width: 7em;
  }

  .transactions-table .th-button {
    width: 3em;
  }

  .transaction-dropdown {
    padding: 5px !important;
  }
}

@media (min-width: 550px) {
  .transactions-table .th-date {
    width: 20%;
  }

  .transactions-table .th-subject {
    width: 50%;
  }

  .transactions-table .th-amount {
    width: 20%;
  }

  .transactions-table .th-button {
    width: 10%;
  }

  .transaction-dropdown {
    text-align: right;
    padding: 5px 20px 5px 5px !important;
  }
}

.transaction-dropdown .btn-success {
  margin-top: 2px;
}

.dropdown-menu > li > a {
  text-transform: none;
  font-size: 1em;
}

#income-sum-text:empty + span {
  display: none;
}

#income-sum-text.negative-sum {
  color: #d9534f;
  font-weight: bold;
}

.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* fixes for small screen sizes */
@media (max-width: 768px) {
  .input-group + .btn {
    margin-top: 5px;
  }
}

/* fixes navbar break */
@media (max-width: 400px) {
  .navbar-brand {
    font-size: 16px;
  }
}
